#section-landing {
  background: linear-gradient(
      0deg,
      rgba(248, 248, 246, 0.4),
      rgba(248, 248, 246, 0.4)
    ),
    url("../img/bg.jpg");
  height: 100vh;
  background-size: cover;
}

#section-landing h1 {
  margin-top: 10vh;
}

#section-deroulement-seance {
  background: linear-gradient(
      0deg,
      rgba(248, 248, 246, 0.8),
      rgba(248, 248, 246, 0.8)
    ),
    url("../img/bg-chalet.jpg");
  background-size: cover;
}

#section-pour-quoi {
  background: linear-gradient(
      0deg,
      rgba(248, 248, 246, 0.8),
      rgba(248, 248, 246, 0.8)
    ),
    url("../img/stress_peur_anxiete.jpg");
  background-size: cover;
}

#section-pour-quoi img {
  margin-bottom: 30px;
}

.CSSgal button {
  margin-bottom: 30px;
}

footer {
  padding: 100px 10%;
  background: linear-gradient(
      0deg,
      rgba(248, 248, 246, 0.7),
      rgba(248, 248, 246, 0.7)
    ),
    url("../img/bg_footer 1.jpg");
  background-size: cover;
  margin-bottom: 0;
  width: 100%;
}
