.CSSgal {
  position: relative;
  overflow: hidden;
  height: 100%; /* Or set a fixed height */
}

.CSSgal .slider {
  white-space: nowrap;
  transition: 0.8s;
}

.CSSgal .slider > * {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
}

.CSSgal .bullets {
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.bullet {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(254, 174, 149, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  margin: 0 3px;
}

.bullet:hover {
  background: #df6a56 !important;
}

.bullets .active {
  background: #df6a56 !important;
}

.bullets {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.slideshow-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  object-fit: cover;
}

#slideshow-left,
#slideshow-right {
  border: 0;
  background-color: transparent;
  margin: 0;
  height: fit-content;
}
